.monotoring-page h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #8d94ba;
  text-shadow: 1px 3px 0 #a0cfd3, 1px 6px 5px #aba8a8;
}

.monotoring-page .flex-medics {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: .5em;
}

.monotoring-page .flex-checkbox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 75%;
}

.monotoring-page fieldset {
  margin: auto;
  width: 75%;
  margin-top: 2em;
  padding: 1em;
  border: #8d94ba 3px groove;
}

.monotoring-page .text-medics {
  width: 25%;
}

.monotoring-page .txt-small {
  font-size: 0.75em;
}

.monotoring-page .date-green {
  color: green;
}

.monotoring-page .date-red {
  color: red;
}

.monotoring-page .date {
  margin-bottom: 1.5em;
}

.monotoring-page input {
  width: 1.2em;
  height: 1.2em;
}

.monotoring-page legend {
  padding: 0.5em;
  color: #5964a7;
  font-size: 1.2em;
}
