.monotoring-page h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #a0cfd3;
  text-shadow: 1px 3px 0 #969696, 1px 10px 5px #aba8a8;
}

.flex-medics {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: .5em;
}

.flex-checkbox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 75%;
}

fieldset {
  margin: auto;
  width: 75%;
  margin-top: 2em;
  padding: 1em;
  border: #8d94ba 3px groove;
}

.text-medics {
  width: 25%;
}

.txt-small {
  font-size: 0.75em;
}

.date-green {
  color: green;
}

.date-red {
  color: red;
}

.date {
  margin-bottom: 1.5em;
}

input {
  width: 1.2em;
  height: 1.2em;
}

legend {
  padding: 0.5em;
  color: #5964a7;
  font-size: 1.2em;
}