.Nav {
  text-align: center;
}

.Ul-nav {
  width: 100%;
  display: flex;
  margin: 5px;
  padding: 0;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 1em;
}

.Li-nav {
  list-style: none;
  margin-right: 10px;
}

.btn-bg.bg-1 .btn-1 button {
  color: #6184D8;
  background: #EFF7F6;
  border: 4px solid #6184D8;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

/* .btn-bg.bg-1 .btn-1 button a {
  color: #c7f8f9;
} */

.btn-bg.bg-1 .btn-1 button:hover {
  background: #2EC4B6;
  color: #EFF7F6;
  border: 3px solid white;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

/* .btn-bg.bg-1 .btn-1 button:hover >a {
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
} */

.btn-bg.bg-1 .btn-1 button:active {
  -webkit-transform: translate(5px, 5px);
  transform: translate(5px, 5px);
}

.Button-nav {
  height: 50px;
  width: 170px;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  letter-spacing: 0.1em;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 0.7rem;
}

#login-button:hover {
  cursor: pointer;
  background: rgba(3, 3, 3, .5);
}

#login-button:active {
  -webkit-background: rgba(255, 255, 255, .8);
  background: rgba(255, 255, 255, .8);
}

.man:active {
  filter: invert(100%);
}