.PrescriptionPage-form .Form-data {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.Prescription-title {
  text-align: center;
  margin-bottom: 20px;
  color: #8d94ba;
  text-shadow: 1px 3px 0 #a0cfd3, 1px 6px 5px #aba8a8;
}

.Form-order {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;

}

.Form-order-input {
  text-align: center;
  border: 2.2px solid#a0cfd3;
  border-radius: 5px;
  padding: .25em;
}

.PrescriptionPage-form .Form-data label {
  width: 80px;
  margin-right: 10px;
  text-align: right;
}
.PrescriptionPage-form-input {
  width: 150px;
  border-radius: 3px;
  border: 2.2px solid #8d94ba;
  margin-left: 20px;
  padding: .25em .5em;
}

.Title-when {
  display: flex;
  justify-content: center;
}

.When-checkbox {
  display: flex;

  flex-direction: column;
  margin-bottom: 30px;
}

.When-checkbox label {
  margin: 0px 20px;
}

.When-checkbox input {
  width: 20px;
  appearance: none;
  border-radius: 4px;
  margin: 0;
  height: 15px;
  width: 15px;
  background: #fff;
  border: 1px solid #ccc;
  margin-right: 10px;
}
input[type="checkbox"]:checked {
  background: #8d94ba;
}

.Button-confirm {
  align-items: center;
  height: 50px;
  width: 8em;
  border-radius: 10px;
  background-color: #8d94ba;
  padding: 0.5em;
}
